body {
  padding-top: 90px;
  min-height: 100vh;
  background-color: #000;
  overflow-x: hidden;
  font-display: swap
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background: #888;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#site-nav {
  box-shadow: rgb(255 255 255 / 0%) 0 13px 27px -5px,
    rgb(0 0 0 / 0%) 0 8px 16px -8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#navbarNav .nav-link {
  transition: 0.2s ease-in-out;
}
#navbarNav .nav-link.active,
#navbarNav .nav-link:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset,
    rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset,
    rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px,
    rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px,
    rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
}
.fs-14 {
  font-size: 14px;
}
.scale-0-6 {
  transform: scale(0.6);
}
.form-control-search-bar {
  display: inline;
  width: 70%;
  justify-content: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff12;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-btn,
.custom-form button[type="submit"],
.navbar-brand,
.navbar-brand:hover,
.navbar-nav .nav-link,
b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: var(--font-weight-bold);
}
.vegas-animation-kenburns {
  /* background-image: url(/assets/imgs/young-female-barista-wear-face-mask-serving-take-away-hot-coffee-paper-cup-consumer-cafe.jpg); */
  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-size: cover;
  animation-duration: 5s;
}
:root {
  --white-color: #ffffff;
  --primary-color: #bc6c25;
  --secondary-color: #dda15e;
  --section-bg-color: #b78752;
  --custom-btn-bg-color: #b48b48;
  --custom-btn-bg-hover-color: #dda15e;
  --dark-color: #000000;
  --silver-color: #bcc1c1;
  --border-color: #7fffd4;
  --link-hover-color: #e76f51;
  --h1-font-size: 68px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 20px;
  --btn-font-size: 16px;
  --form-btn-font-size: 18px;
  --menu-font-size: 16px;
  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;
  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
.site-footer strong,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}
h1 {
  font-size: var(--h1-font-size);
}
.back-top-icon,
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}
h4 {
  font-size: var(--h4-font-size);
}
h5 {
  font-size: var(--h5-font-size);
}
h6 {
  font-size: var(--h6-font-size);
}
p,
ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}
a,
button {
  touch-action: manipulation;
  transition: 0.3s;
}
a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-hover-color);
}
.hero-section h1,
.pages-hero-section h1,
.silver-color {
  color: #bcc1c1;
}
.custom-border-btn,
.custom-btn,
.custom-btn:hover {
  color: var(--white-color);
}
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-bg {
  background-color: var(--section-bg-color);
}
.section-overlay {
  background-color: var(--dark-color);
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.65;
}
.section-overlay + .container {
  position: relative;
  z-index: 22;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: var(--white-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.timeline-container {
  padding: 0 40px 10px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.timeline-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: var(--white-color);
  border: 5px solid #7c5c52;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.timeline-container-left {
  left: 0;
}
.timeline-container-right {
  left: 50%;
}
.timeline-container-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 9px;
  width: 0;
  z-index: 1;
  right: 25px;
  border: solid #fff;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #fff;
}
.timeline-container-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 9px;
  width: 0;
  z-index: 1;
  left: 25px;
  border: solid #fff;
  border-width: 20px 20px 20px 0;
  border-color: transparent #fff transparent transparent;
}
.timeline-container-right::after {
  left: -13px;
}
.timeline-content {
  padding: 5px;
  background-color: var(--white-color);
  position: relative;
  border-radius: var(--border-radius-medium);
}
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  font-size: var(--btn-font-size);
  line-height: normal;
  transition: 0.3s;
  padding: 12px 28px;
}
.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
}
.custom-border-btn {
  background: 0 0;
  border: 2px solid var(--white-color);
}
.navbar .container,
.sticky-wrapper.is-sticky .container {
  border-radius: var(--border-radius-medium);
  padding: 15px 30px;
}
.custom-border-btn.active,
.custom-border-btn:hover {
  background: var(--white-color);
  color: var(--secondary-color);
}
.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}
.custom-btn-italic {
  font-style: italic;
}
.sticky-wrapper {
  position: absolute;
  z-index: 999999;
  top: 0;
  right: 0;
  left: 0;
}
.sticky-wrapper.is-sticky .container {
  background: rgba(0, 0, 0, 0.65);
}
.navbar,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: 0 0;
}
.navbar {
  z-index: 999999;
  padding-top: 15px;
  padding-bottom: 15px;
}
.about-video-info,
.team-block-info,
.team-block-wrap {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), #bc6c25);
}
.navbar-toggler,
.opening-hours-list,
.social-icon {
  margin: 0;
  padding: 0;
}
.navbar .container {
  background: rgb(0 0 0);
}
.navbar-brand,
.navbar-brand:hover {
  font-size: var(--h4-font-size);
  display: block;
  color: var(--white-color);
}
.navbar .navbar-brand-image {
  filter: brightness(0) invert(1);
}
.navbar .custom-btn {
  padding: 10px 20px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px;
}
.navbar-nav .nav-link {
  display: inline-block;
  color: #bcc1c1 !important;
  font-size: var(--menu-font-size);
  padding-top: 15px;
  padding-bottom: 15px;
}
.about-section h6,
.menu-block strong,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.small-text {
  color: var(--secondary-color);
}
.navbar .dropdown-menu {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border: 0;
  display: inherit;
  opacity: 0;
  min-width: 9rem;
  margin-top: 20px;
  padding: 13px 0 10px;
  transition: 0.3s;
  pointer-events: none;
}
.navbar .dropdown-menu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid var(--white-color);
  position: absolute;
  top: -10px;
  left: 10px;
}
.navbar .dropdown-item {
  display: inline-block;
  color: var(--p-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
}
.navbar .dropdown-item.active,
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
  background: 0 0;
  color: var(--link-hover-color);
}
.navbar .dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--menu-font-size);
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}
@media screen and (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
  }
}
.navbar-toggler {
  border: 0;
  cursor: pointer;
  width: 30px;
  height: 35px;
  outline: 0;
}
.about-image-wrap,
.about-section .ratio,
.custom-video,
.hero-section::after,
.menu-block-wrap,
.team-block-wrap {
  border-radius: var(--border-radius-medium);
}
.navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transition: top 0.3s 50ms, transform 0.3s 350ms, -webkit-transform 0.3s 350ms;
  top: 0;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}
.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 0.3s;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}
.navbar-toggler .navbar-toggler-icon:after,
.navbar-toggler .navbar-toggler-icon:before {
  transition: top 0.3s 350ms, transform 0.3s 50ms, -webkit-transform 0.3s 50ms;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: "";
}
.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}
.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}
.hero-section {
  background-color: var(--dark-color);
  position: relative;
  overflow: hidden;
  min-height: 620px;
  text-align: center;
}
.hero-section::after {
  background-color: rgba(0, 0, 0, 0.65);
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%) rotate(45deg);
  width: 250px;
  height: 350px;
  pointer-events: none;
}
@media screen and (min-width: 991px) {
  .hero-section {
    height: 100vh;
  }
}
.hero-section .custom-border-btn,
.reservation-page .custom-border-btn:hover {
  border-color: transparent;
}
.hero-section .container {
  position: relative;
  z-index: 11;
}
.hero-slides {
  width: 100%;
  height: 100%;
  position: absolute !important;
}
.opening-hours-list li {
  color: rgba(255, 255, 255, 0.75);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-normal);
  margin-bottom: 10px;
}
.opening-hours-list li .underline {
  background-color: rgba(255, 255, 255, 0.75);
  width: 35%;
  height: 1px;
  margin: auto 15px 0;
}
.pt-180 {
  padding-top: 180px;
}
.about-section {
  background-color: var(--secondary-color);
  position: relative;
}
.custom-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-image-wrap {
  position: relative;
  overflow: hidden;
}
.about-video-info {
  bottom: 0;
  height: auto;
  padding: 40px;
}
.about-video-info h2,
.booking-form .form-control,
.menu-block h2,
.menu-block h3,
.reviews-group i {
  color: var(--white-color);
}
.team-block-wrap {
  position: relative;
  overflow: hidden;
  max-height: 450px;
}
.team-block-wrap:hover .team-block-image {
  transform: scale(1.2);
}
.team-block-image-wrap {
  width: 100%;
}
.team-block-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.team-block-info {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
}
.team-block-info .badge {
  margin: auto;
  top: 2px;
  bottom: 0;
}
.menu-section {
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-block-wrap {
  background: rgba(0, 0, 0, 0.65);
  padding: 45px;
}
.booking-section,
.contact-section,
.gra-bg,
.reviews-block-image-wrap {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.menu-block .border-top,
.reviews-block .border-top {
  border-top-color: rgba(255, 255, 255, 0.35) !important;
}
.menu-block small {
  color: rgba(255, 255, 255, 0.35);
}
.menu-block-image {
  border-radius: 100%;
  width: 350px;
  height: 350px;
  object-fit: cover;
  display: block;
  margin: auto;
  cursor: pointer;
}
.badge {
  background-color: var(--primary-color);
  font-size: 12px;
  position: relative;
  bottom: 4px;
  padding-bottom: 6px;
}
.badge::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid var(--primary-color);
}
.card.ms-auto.me-auto.card-width {
  background: #c7a965 !important;
  padding: 10px;
}
.gold-color {
  color: #c7a965;
}
.contact-card {
  padding: 30px 20px;
  border-radius: 10px;
  border: 2px solid #c7a965;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.contact-card:hover {
  box-shadow: #c7a965 0 10px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}
.reviews-section {
  background-color: #7c5c52;
}
.reviews-block {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}
.reviews-block-image-wrap {
  padding: 65px;
}
.w-fit {
  width: fit-content;
}
.reviews-block-image {
  border-radius: var(--border-radius-large);
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 10px;
}
.booking-form-wrap,
.contact-block,
.contact-block-wrap,
.google-map {
  border-radius: var(--border-radius-medium);
}
.reviews-block-info {
  padding: 20px 30px;
}
.reviews-block-info p {
  font-size: var(--btn-font-size);
  font-style: italic;
  color: rgba(255, 255, 255, 0.75);
}
.booking-section {
  position: relative;
}
.booking-form-wrap {
  background-color: rgba(0, 0, 0, 0.65);
  position: relative;
  overflow: hidden;
  margin-top: 100px;
}
.booking-form {
  padding: 55px 65px;
}
.booking-form-image-wrap {
  position: relative;
  height: 100%;
}
.booking-form-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.booking-form-text span {
  color: var(--white-color);
  font-size: var(--btn-font-size);
}
.reservation-page .custom-border-btn {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}
.gra-bg {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45),
    rgb(200 170 101),
    rgba(0, 0, 0, 0.45)
  );
}
.contact-section {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.45),
    rgb(200 170 101)
  );
}
.google-map {
  filter: grayscale(100);
}
.contact-block-wrap {
  background: var(--primary-color);
  padding: 0;
  min-height: 200px;
}
.contact-block {
  background: var(--secondary-color);
  transform: rotate(8deg);
  height: 100%;
  padding: 20px 40px;
}
.contact-block h6 {
  transform: rotate(-8deg);
}
.contact-block .custom-icon {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
}
.contact-block strong {
  display: block;
  color: var(--white-color);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}
.custom-form .form-control {
  color: var(--p-color);
  border-radius: var(--border-radius-small);
  margin-bottom: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: none;
  outline: 0;
  transition: 0.3s;
}
.custom-form .form-control:focus,
.custom-form .form-control:hover {
  background: var(--primary-color);
  border-color: transparent;
}
.custom-form .form-label {
  color: var(--white-color);
  font-style: italic;
  margin-bottom: 15px;
}
.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: #312828;
  font-size: var(--form-btn-font-size);
  transition: 0.3s;
  margin-bottom: 0;
}
.custom-form button[type="submit"]:focus,
.custom-form button[type="submit"]:hover {
  background: var(--white-color);
  border-color: transparent;
  color: var(--primary-color);
}
.custom-form button:disabled,
.custom-form button[disabled] {
  cursor: not-allowed;
  background-color: #717275 !important;
  color: #fff !important;
}
.booking-form .form-control,
.contact-form .form-control {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.25);
}
.custom-form input::-webkit-input-placeholder,
.custom-form textarea::-webkit-input-placeholder {
  color: var(--white-color);
}
.booking-form input:-moz-placeholder,
.booking-form textarea:-moz-placeholder {
  color: var(--white-color);
}
.site-footer {
  background-color: rgb(200 170 101);
  padding-top: 50px;
  padding-bottom: 20px;
}
.copyright-text,
.site-footer p,
.site-footer-link {
  color: var(--dark-color);
  font-size: var(--btn-font-size);
}
#projects-container .col-lg-3,
.site-footer-link {
  transition: 0.3s;
}
.site-footer-link:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: underline;
}
.copyright-text a {
  color: rgba(255, 200, 160, 0.75);
}
.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
.social-icon-link {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--menu-font-size);
  display: block;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  transition: background 0.2s, color 0.2s;
}
.social-icon-link:hover {
  background: var(--white-color);
  color: var(--primary-color);
}
.social-icon-link span {
  display: block;
}
.pages-hero-section {
  height: 75vh;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.45),
    rgb(200 170 101)
  );
}
.lightbox {
  z-index: 9999999;
}
.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
.project-tags button {
  margin: 2px;
  transition: 0.2s;
}
.hover-underline, .img-hover, .dark-link {
    transition: all .2s ease-in-out;
}
.hover-underline:hover {
    text-decoration: underline;
}
.img-hover:hover {
    transform: scale(1.08);
}
.dark-link {
  color: #000000;
}
.dark-link:hover {
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 62px;
  }
}
@media screen and (max-width: 991px) {
  .timeline::after {
    left: 31px;
  }
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .timeline-container::before {
    left: 58px;
    border: solid #fff;
    border-width: 20px 20px 20px 0;
    border-color: transparent #fff transparent transparent;
  }
  .timeline-container-left::after,
  .timeline-container-right::after {
    left: 6px;
  }
  .timeline-container-right {
    left: 0;
  }
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }
  .section-padding,
  .site-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero-section {
    padding-top: 148px;
    padding-bottom: 100px;
  }
  .navbar-brand,
  .navbar-brand:hover {
    font-size: var(--h5-font-size);
  }
  .navbar-expand-lg .navbar-nav {
    padding-bottom: 20px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }
  .navbar .custom-btn {
    margin-bottom: 10px;
  }
  .booking-form {
    padding: 45px;
  }
  .contact-section .container {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
    padding: 35px;
  }
}
@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px;
    padding: 12px 20px;
  }
  .menu-block-wrap,
  .reviews-block-image-wrap,
  .reviews-block-info {
    padding: 20px;
  }
}
@media screen and (max-width: 578px) {
  .navbar .container,
  .sticky-wrapper.is-sticky .container {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 20px;
  }
  .hero-section::after {
    width: 200px;
    height: 200px;
  }
  .booking-form {
    padding: 35px;
  }
  .opening-hours-list li {
    font-size: 12px;
  }
  .reviews-block-image-wrap {
    flex-direction: column;
  }
  .reviews-block-image {
    margin-bottom: 15px;
  }
  .timeline-container {
    padding-left: 55px;
  }
  .timeline-container::before {
    left: 44px;
    border: solid #fff;
    border-width: 15px 15px 15px 0;
    border-color: transparent #fff transparent transparent;
  }
  .timeline-container-left::before,
  .timeline-container-right::before {
    top: 13px;
  }
}
