body {
    padding-top: 90px;
    min-height: 100vh;
}

/* width */
body::-webkit-scrollbar {
    width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#site-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#navbarNav .nav-link{
    border-bottom: 2px solid transparent;
}
#navbarNav .nav-link.active,#navbarNav .nav-link:hover {
    border-bottom: 2px solid #FFFFFF;
}